html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: #FFEAD6; 
  margin: 0;
  padding: 0;
}
img {
  width: 300px;
}

a:hover {
  text-decoration: none;
}
/* Navbar links*/
#navbar a {
  z-index: 1000;
  float: top-right;
  display: inline-block;
  color: #FFEAD6;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  padding-left: 25px;
  padding-top: 20px;
  text-decoration: none;
  position: relative;
}

h2 {
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-weight: 200;
  color: #F9C14F;
  margin: 0;
}
h1{ 
	font-family: 'Bowlby One SC', cursive;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Ultra', serif;
	font-weight: 200;
  color: #F9C14F;
  margin: 3;  
   font-size: 50px;
  line-height: 1;
}
p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  margin: 2;  
}



.title-name { 
  top:20px;
  left:30px;
  position:absolute;
    z-index: 50;
  }

.text {
 top:200px;
  left:300px;
  position:absolute;
  width:300px;
  text-align: left;
  list-style: none;
  z-index: 50;
}


.banner{
  width: 50%;
  top:50px;
  left:650px;
  z-index:300;
  position:absolute;
}

.text2 {
 top:400px;
  left:300px;
  position:absolute;
  width:300px;
  text-align: left;
  list-style: none;
  z-index: 50;
}


.background {
  width: 100vw;
  height:100vh;
  display: grid;
  position: relative;
  z-index: 0;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: none;
}

.item{
  border: 0px;
  margin: 0px;
}

.info{
  background-color: #EF6356;
}

/*.item-1{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 50;
  background-color: #EF6356;
} */

.language{
  margin: 30px;
  width: 40%;
}

.software{
  width: 40%;
}


.softskill{
  width: 40%;
}