html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #FFEAD6; /*ngewarnain semua text*/
  margin: 0;
  padding: 0;
}

img {
  width: 200px;
}

a:hover {
  text-decoration: none;
}

h1{ 
  font-size: 50px;
  line-height: 1;
  font-family: 'Bowlby One SC', cursive;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Ultra', serif;
  font-weight: 200;
  color: #F9C14F;
  margin: 5;
  
}

h2{ 
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-weight: 200;
  color: #F9C14F;
  margin: 2;  
}

h3{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  margin: 2;  
}

p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  margin: 2;  
}

.content-wrap {
  max-width: 700px;
  width: 90%;
  margin: auto;
  padding: 100px 0;
  z-index: 200;
}

.divider > section {
  border-bottom: 5px solid #FFEAD6;
  padding-top: 30px;
  padding-bottom: 30px;
}
.divider > section:last-of-type {
  border-bottom: none;
}

.title {
  padding-left:25px;
  background: #EF6356;
}

.projects{
   background: #F99A94;
}
.title-name {
  margin: 0;
  padding: 0;
  text-align: left;
}

.background {
  width: 100vw;
  height:95vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: none;
}

.item{
  border: 0px;
  margin: 0px;
}

.item-1{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 12;
  background-color: #F99A94;
  border-radius: 8px;
}

.item-2{
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 12;
  background-color: #F99A94;
  border-radius: 8px;
}

.item-3{
  grid-column-start: 11;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 12;
  background-color: #F99A94;
  border-radius: 8px;
}

.item-4{
  grid-column-start: 16;
  grid-column-end: 20;
  grid-row-start: 1;
  grid-row-end: 12;
  background-color: #F99A94;
  border-radius: 8px;
}

.banner{
  width: 76%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  z-index:0; 
}

.banner2{
  width: 76%;
    display:block;
    margin-left: auto;
  margin-right: auto;  
  z-index:0;

}

.banner3{
  width: 76%;
    display:block;
    margin-top: 10px;
      margin-left: auto;
  margin-right: auto;
  z-index:0;
 
}

.banner4{
  width: 76%;
    display:block;
    margin-top: 5px;
      margin-left: auto;
  margin-right: auto;
  z-index:0;

}


.text{
  width: 40%;
  z-index:50;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align: center;
}

.text2{
  width: 40%;
  z-index:50;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align: center;
}

.text3{
  width: 40%;
  z-index:50; 
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align: center;
}

.text4{
  width: 40%;
  z-index:50;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align: center;
}


.logo{
  width: 240px;
  float: left;
}

.logo2{
  width: 240px;
  float: left;
}

.logo3{
  width: 240px;
  float: left;
}

.logo4{
  width: 240px;
  float: left;
}

.par{
  clear:both;
}
.par2{
  clear:both;
}
.par3{
  clear:both;
}
.par4{
  clear:both;
}
