html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#navbar{
  overflow: hidden;
  background-color: none;
  position: fixed;
  z-index: 100;
}

/* Navbar links*/
#navbar a {
  z-index: 100;
  float: top left;
  display: block;
  color: #FFEAD6;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  padding: 15px;
  text-decoration: none;
}

img {
  width: 300px;
}

a:hover {
  text-decoration: none;
}
h1 {
  font-size: 70px;
  line-height: 1;
}
h2 {
  font-size: 30px;
}
h1, h2 { 
	font-family: 'Bowlby One SC', cursive;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Ultra', serif;
	font-weight: 200;
  color: #F9C14F;
  margin: 0;
  
}

.title-name { /*this is the image bg part, what's wrong with it aaaa*/
  z-index: 100;
  max-width: 800px;
  width: 60%;
  margin: 100px auto;
  padding: 100px 0;
  left: 390px;
  top:100px;
  position:absolute;
  }

.banner{
  width: 80%;
  top:80px;
  left:150px;
  z-index:0;
  position:absolute;
}